<div class="user-container">
 <div class="user-image">
    <img src="<%= @user.photo %>" alt="User">
  </div>
  <div class="user-info">
    <h2 class="user-name"><%= @user.name %></h2>
    <h4 class="post-counter">Number of posts: <%= @user.post_counter %></h4>
  </div>
  </div>

<% @posts.each do |post| %>
 <a href="/users/<%= @user.id %>/posts/<%= post.id %>" class="post_link"> 
  <div class="post">
    <h1 class="post-title"><%= post.title %></h1>
    <span class="post-text"><%= post.text %></span>
    <div class="post-info">
      <span class="post-info_comment">comments: <%= post.comments_counter %></span>
      <span>Likes: <%= post.likes_counter %></span>
    </div>
  </div>
 

 <div class="comments-box">
  <% post.comments.each do |comment| %>
    <p class="comment"><%= comment.author.name %>: <%= comment.text %></p>
  <% end %>
</div>
<% end %>
</a>

<%= link_to "New post", new_user_post_path %>
