<% @user.three_recent_posts.each do |post| %>
  <h1><%= post.title %></h1>
  <span><%= post.text %></span>
  <div>
  <span>comments: <%= post.comments_counter %></span>
  <span>Likes: <%= post.likes_counter %></span>
  </div>
  <p><a href="/users/<%= @user.id %>/posts/<%= post.id %>" class="">view this post</a></p>
  
<% end %>
